.app-navbar {
  position: relative;
  z-index: var(--z-app-navbar);
  height: var(--app-navbar-height);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: to-rem(15) to-rem(10);
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  color: var(--col-red);

  @media (orientation: portrait) {
    max-width: calc(to-rem(440) + var(--container-side-padding) * 2);
  }

  @media (orientation: landscape) {
    align-items: center;
    justify-content: space-between;
  }

  @include respond-above(tablet) {
    max-width: calc(to-rem(1000) + var(--container-side-padding) * 2);
  }
}

.app-navbar__logo-wrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;

  @media (orientation: portrait) {
    width: 100%;
  }

  @media (orientation: landscape) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}

.app-navbar__logo {
  height: to-rem(32);
  width: to-rem(162);

  @media (orientation: landscape) {
    @include respond-above(medium) {
      height: to-rem(55);
      width: to-rem(284);
    }
  }
}

.app-navbar__login-btn-wrapper {
  text-align: right;
}

.app-navbar__login-btn {
  text-decoration: underline;
}
