.auth-type-radio {
  height: to-rem(40);
  display: flex;
  align-items: stretch;
  margin-top: to-rem(20);
  margin-bottom: to-rem(8);
}

.auth-type-radio__radio-label {
  --icon-size: #{to-rem(24)};
  --label-padding: #{to-rem(10)};

  position: relative;
  height: 100%;
  width: 100%;
  border-radius: to-rem(12);
  overflow: hidden;
  user-select: none;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: to-rem(11);
  }
}

.auth-type-radio__radio-input {
  width: auto;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.auth-type-radio__radio-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 to-rem(10);
  padding-left: calc(var(--icon-size) + var(--label-padding) + to-rem(5));
  padding-right: var(--label-padding);
  background-color: var(--col-black-chestnut-oak);
  transition: background-color var(--hover-transition);

  @include hover {
    background-color: var(--auth-type-radio-bg-hover);
  }

  .auth-type-radio__radio-input:checked + & {
    background-color: var(--auth-type-radio-bg-checked);
  }
}

.auth-type-radio__radio-content-icon {
  position: absolute;
  top: 50%;
  left: var(--label-padding);
  transform: translateY(-50%);
  height: var(--icon-size);
  width: var(--icon-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(var(--col-total-white-rgb), 50%);
  opacity: 0.5;
  transition: background-color var(--hover-transition),
    opacity var(--hover-transition);

  .auth-type-radio__radio-input:checked ~ & {
    opacity: 1;
    background-color: var(--col-total-white);
  }
}
