html,
.scrollbar {
  scrollbar-color: var(--col-bilberry) rgba(var(--col-total-white-rgb), 15%);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: to-rem(4);
  height: to-rem(4);
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--col-total-white-rgb), 15%);
  border-radius: to-rem(10);
}

::-webkit-scrollbar-thumb {
  background-color: var(--col-bilberry);
  border-radius: to-rem(10);
}
