.sign-up-form__form {
  width: 100%;
  margin: 0 auto;
}

.sign-up-form__form-fieldset {
  display: contents;
}

.sign-up-form__title {
  margin-top: 0;
  font-size: to-rem(28);
  font-weight: 700;
  text-align: center;

  @include respond-to(small) {
    body:not(.wheel-stage-3) & {
      padding-left: var(--close-modal-btn-size-small, 0);
    }
  }
}

.sign-up-form__bonus-text-row {
  margin-top: to-rem(5);
  margin-bottom: to-rem(20);
  text-align: center;

  p {
    font-size: to-rem(18);
    font-weight: 500;
  }
}

.sign-up-form__accent-text {
  color: var(--col-tibetan-yellow);
}

.sign-up-form__bonus-img-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-form__bonus-img {
  height: to-rem(80);
  width: to-rem(80);

  &:not(:last-child) {
    margin-right: to-rem(30);
  }
}

.sign-up-form__auth-inputs {
  display: none;

  .sign-up-form__form--auth-with-tel &--tel {
    display: contents;
  }

  .sign-up-form__form--auth-with-email &--email {
    display: contents;
  }
}

.sign-up-form__input-label {
  display: inline-block;
  width: 100%;
}

.sign-up-form__text-input-label {
  margin-top: to-rem(16);
}

.sign-up-form__text-input-label::after {
  content: ' *';
}

.sign-up-form__text-input-wrapper {
  --hide-pass-btn-width: #{to-rem(40)};

  position: relative;
}

.sign-up-form__password-input-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: var(--hide-pass-btn-width);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(var(--col-total-white-rgb), 50%);
  transition: color var(--hover-transition);

  @include hover {
    color: var(--col-total-white);
  }
}

.sign-up-form__password-btn-icon {
  display: none;

  &--off {
    .sign-up-form__password-input-btn--pass-hidden & {
      display: inline-flex;
    }
  }

  &--on {
    button:not(.sign-up-form__password-input-btn--pass-hidden) & {
      display: inline-flex;
    }
  }
}

.sign-up-form__text-input,
.sign-up-form__input-stub {
  width: 100%;
  height: auto;
  min-height: to-rem(40);
  display: flex;
  align-items: center;
  margin-top: to-rem(8);
  padding: to-rem(10) calc(to-rem(16) + var(--hide-pass-btn-width, to-rem(0)))
    to-rem(10) to-rem(16);
  background-color: var(--col-black-chestnut-oak);
  border: none;
  border-radius: to-rem(12);
  box-shadow: none;
  color: inherit;
  font-size: to-rem(14);
}

.sign-up-form__auth-error {
  display: none;
  margin-top: to-rem(8);
  color: var(--col-vermilion-cinnabar);
  font-size: 0.9em;

  &.visible {
    display: block;
  }
}

.sign-up-form__country-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: to-rem(16);
  margin: to-rem(20) 0;

  @include respond-above(small) {
    margin: to-rem(16) 0;
  }
}

.sign-up-form__country-img {
  margin-right: to-rem(8);
}

.sign-up-form__agree-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: to-rem(28);
  cursor: pointer;
}

.sign-up-form__check-input {
  width: auto;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sign-up-form__check-box {
  position: absolute;
  margin-left: -#{to-rem(28)};
  width: to-rem(20);
  height: to-rem(20);
  background-image: url('/img/checkbox.png');
  background-size: to-rem(20);

  .sign-up-form__check-input:checked + & {
    background-image: url('/img/checkbox-checked.png');
  }

  .sign-up-form__check-input:focus-visible + & {
    outline: -webkit-focus-ring-color auto to-rem(1);
  }
}

.sign-up-form__divider {
  width: 100%;
  height: to-rem(1);
  margin: to-rem(20) 0;
  background-color: var(--col-island-palm);

  @include respond-above(small) {
    margin: to-rem(16) 0;
  }
}

.sign-up-form__submit-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: to-rem(12);

  // margin-bottom: to-rem(20);

  // @include respond-above(small) {
  //   margin-bottom: to-rem(16);
  // }

  @include respond-above(medium) {
    &.sign-up-form__submit-btn {
      font-size: to-rem(14);
    }
  }
}

.sign-up-form__submit-btn-content {
  .sign-up-form__submit-btn.loading & {
    display: none;
  }
}

.sign-up-form__submit-loader {
  display: none;

  .sign-up-form__submit-btn.loading & {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    grid-gap: to-rem(10);
  }
}

.sign-up-form__submit-loader-icon {
  grid-column-start: 1;
  grid-row-start: 1;
  animation: spin 0.6s ease-in-out infinite;

  &--second {
    color: rgba(var(--col-total-black-rgb), 50%);
    animation-delay: 0.2s;
    animation-direction: reverse;
  }
}

// .sign-up-form__login-text {
//   font-size: to-rem(12);
//   font-weight: 500;
//   text-align: center;
// }

// .sign-up-form__login-btn {
//   position: relative;
//   color: var(--col-tibetan-yellow);
//   font-family: var(--secondary-font-family);
//   font-size: to-rem(12);
//   font-weight: 500;

//   &:after {
//     position: absolute;
//     right: 0;
//     bottom: -#{to-rem(1)};
//     width: 0;
//     height: to-rem(1);
//     background-color: currentColor;
//     content: '';
//     transition: width var(--slide-transition);
//   }

//   @include hover {
//     &:after {
//       left: 0;
//       width: 100%;
//     }
//   }
// }

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
