.verification-form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: to-rem(8);
}

.verification-form__back-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: to-rem(6);
  top: 0;
  left: 0;
  height: to-rem(32);
  width: to-rem(32);
  border-radius: to-rem(8);
  background-color: var(--sign-up-form-input-bg);
  color: var(--col-total-white);

  @media all and (hover: hover) {
    color: var(--col-bilberry);
    transition: color var(--hover-transition);

    &:hover,
    &:focus-visible {
      color: var(--col-total-white);
    }
  }
}

.verification-form__logo {
  align-self: center;
  margin-bottom: to-rem(20);
}

.verification-form__text {
  margin-top: 0;
  margin-bottom: to-rem(40);
}

.verification-form__input-label {
  margin-bottom: to-rem(8);
  cursor: pointer;
}

.verification-form__otp-inputs-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(to-rem(64), to-rem(75)));
  grid-auto-rows: to-rem(94);
  gap: to-rem(12);
  justify-content: center;
}

.verification-form__otp-input {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 34%;
  border-radius: to-rem(12);
  background-color: var(--sign-up-form-input-bg);
  font-size: to-rem(40);
  border: none;
  color: inherit;
}

.verification-form__divider {
  margin-top: to-rem(40);
}

.verification-form__resend-otp-btn {
  position: relative;
  align-self: center;
  margin-bottom: to-rem(16);
  color: var(--col-total-white);
  box-shadow: none;
  font-size: to-rem(12);
  line-height: 1.5;
  font-weight: 500;
  transition: opacity var(--hover-transition);

  &::after {
    position: absolute;
    right: 0;
    bottom: -#{to-rem(1)};
    width: 0;
    height: to-rem(1);
    background-color: currentColor;
    content: '';
    transition: width var(--slide-transition);
  }

  &--disabled,
  &:disabled {
    opacity: 0.5;
    cursor: default;

    .verification-form__resend-otp-countdown {
      display: inline-block;
    }

    .verification-form__resend-otp-text {
      display: none;
    }
  }

  @include hover {
    &:not(:disabled):not(.verification-form__resend-otp-btn--disabled) {
      color: var(--col-total-white);

      &::after {
        left: 0;
        width: 100%;
      }
    }
  }
}

.verification-form__resend-otp-countdown {
  display: none;
}
