<header class="app-navbar container">
  <div class="app-navbar__logo-wrapper">
    <a class="app-navbar__logo-link" href="#" aria-label="Home page">
      {{> svg-icon class='app-navbar__logo' width="162" height="32"
      name='logo'}}
    </a>
  </div>

  <div class="app-navbar__tries-wrapper">
    <span>Tentativas restantes:</span>
    <span class="app-navbar__tries js-bonus-tries">2</span>
  </div>

  <div class="app-navbar__login-btn-wrapper">
    <p>Ja tem uma conta?</p>
    <button
      class="app-navbar__login-btn js-sign-up-btn"
      type="button"
      aria-label="Vá para login"
    >
      Ir para o site!
    </button>
  </div>
</header>
