<section class="bonuses-section js-bonuses-section">
  <div
    class="bonuses-section__bonus-wrapper bonuses-section__bonus-wrapper--first"
  >
    <picture class="bonuses-section__bonus-img">
      <source
        type="image/webp"
        srcset="/img/bonus-1.webp 90w, /img/bonus-1@2x.webp 180w"
        sizes="90px"
      />
      <source
        type="image/png"
        srcset="/img/bonus-1.png 90w, /img/bonus-1@2x.png 180w"
        sizes="90px"
      />
      <img
        src="/img/bonus-1.png"
        width="90"
        height="90"
        alt=""
        loading="lazy"
      />
    </picture>
    <div class="bonuses-section__text-wrapper">
      <p>Bonus</p>
      <p class="bonuses-section__text--accent">4 000 R$</p>
    </div>
  </div>
  <div
    class="bonuses-section__bonus-wrapper bonuses-section__bonus-wrapper--second"
  >
    <picture class="bonuses-section__bonus-img">
      <source
        type="image/webp"
        srcset="/img/bonus-2.webp 90w, /img/bonus-2@2x.webp 180w"
        sizes="90px"
      />
      <source
        type="image/png"
        srcset="/img/bonus-2.png 90w, /img/bonus-2@2x.png 180w"
        sizes="90px"
      />
      <img
        src="/img/bonus-2.png"
        width="90"
        height="90"
        alt=""
        loading="lazy"
      />
    </picture>
    <div class="bonuses-section__text-wrapper">
      <p class="bonuses-section__text--accent">250</p>
      <p>Giros gratis</p>
    </div>
  </div>
</section>
