<main class="main container">
  {{> bonuses-section}} {{> wheel }}
  <button
    class="main__cta-btn js-spin-wheel-btn"
    type="button"
    aria-label="Girar"
  >
    <span class="main__cta-btn-content">Girar</span>
  </button>
  <picture class="main__tiger-decor">
    <source
      type="image/webp"
      srcset="/img/decor/tiger.webp 1178w, /img/decor/tiger@2x.webp 2356w"
      sizes="1178px"
    />
    <source
      type="image/png"
      srcset="/img/decor/tiger.png 1178w, /img/decor/tiger@2x.png 2356w"
      sizes="1178px"
    />
    <img
      src="/img/decor/tiger.png"
      width="1178"
      height="968"
      alt=""
      loading="lazy"
    />
  </picture>
</main>
