<section class='prize-modal'>
  <h2 class='prize-modal__title'>Parabéns!</h2>
  <h3 class='prize-modal__text'>Reivindique seu prêmio no aplicativo!</h3>
  <a
    class='app-button prize-modal__download-link'
    href='https://root-map.work/'
    rel='nofollow noopener noreferrer'
  >
    Baixe o aplicativo
  </a>
</section>